{%extends 'hire/basic.html'%}
{%block body%}
<div class="container mt-3">
    {%if not user.is_authenticated%}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {%endif%}
    {%if user.is_authenticated%}
    {%endif%}
    <h4>Listed Jobs</h4>
    <hr>
    <div class="row my-2 ">
        {% for item in job %}
        <div class="col-md-3 mx-2">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        <h3 class="mb-0"> {{item.job_title}}</h3>
                    </strong>
                    <h4 class="mb-0">{{item.company_name}}</h4>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Published On : {{item.pub_date}}</p>
                    <p class="card-text mb-auto">Experience : {{item.experience}} years or more</p>
                    <a href="jobpost/{{item.job_id}}" class="stretched-link">Read More..</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2%}
    </div>
    <div class="row my-2">
        {%endif%}
        {%endfor%}</div>
        <hr>
</div>
{%endblock%}
{%block js%}
<script>
window.setTimeout(function () {
    location.href = "http://127.0.0.1:8000/hire/";
}, 300000); // refresh/redirect after 5 seconds.
</script>
{%endblock%}
